html,body{
	background-color: #0029a3;
	background-image: none;
}
header{
	border-color: #188f87;
}
p.h{
	background-color: #188f87;
}

.song{
	    background-color: #4baaea;
}
.page{
background-color: white;
}
.btns{
	
background-color: white;
}
#play{
	border-color: #188f87;
}