@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i|Lato:400,700|Roboto+Slab:400,700&display=swap');
/*
font-family: 'Lato', ;
font-family: 'Roboto Slab', ;
font-family: 'Fira Sans', ;
*/

html, body{margin: 0;padding: 0;height: 100%;width: 100%;color: white;background-color: #121212;position: relative;}
ul{list-style: none;padding: 0;margin: 0.3em;}
li{cursor: pointer;}
/*******************************************/
#miniLoader{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.8);
    color: white;
    z-index: 5000;
}
#miniLoader img{
    width: auto;
    height: 8%;
}
#miniLoader *{
    position: absolute;
    width: max-content;
    height: max-content;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    font-family: monospace;
}
/*******************************************/
#dialogs{
    font-family: 'Roboto Slab', sans-serif;
    position: fixed;
    display: none;
    width: 80%;
    height: 74%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    border-radius: 2em;
    z-index: 4000;
    overflow: hidden;
}
#dialogs .close{
    width: max-content;
    height: 1.5em;
    margin: 2%;
    margin-left: auto;
    margin-right: 2em;
    cursor: pointer;
}
#dialogs h3{margin: 0.5em;
    margin-left: 1.5em;}
#dialogs>div:last-child{
    overflow: scroll;
    width: 90%;
    margin: auto;
    padding-top: 0.4em;
    height: 80%;
    overflow-x: hidden;
}
#dialogs .num_cd{margin:0;}
#dialogs .sound_n{padding-left: 0.4em; box-sizing: border-box;}
/*****************************************/
#body{
	position: relative;
	z-index: 1;
	width: 80%;
	height: 100%;
	right: 0;
	margin-left: auto;
	/* display: flex; */
	/* flex-direction: column; */
	font-family: 'Roboto Slab', sans-serif;
	max-width: 80%;
	padding: 0;
	padding-top: 1em;
	/* padding-right: 0; */
	/* padding: 0; */
	box-sizing: border-box;
}
#body .sec{
    overflow: auto;
}
#body.body_home{}
#body .sec>div{
    height: 20em;
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow: auto;
    overflow-y: hidden;
}
.placa{margin: 1em;width: 12em;height: 15em;position: relative;cursor: pointer;background-color: #282828;border-radius: 0.8em;}
.placa div.img{width: 10em;height: 10em;background-size: 100% auto;display: inline-block;margin: 1em;background-size: 100% auto;background-repeat: no-repeat;background-position: center center;}
.placa div.img.b{background-image: url('../img/album_book.jpg');}
.placa div.img.wb{background-image: url('../img/album_workbook.jpg');}
.placa .play{position: absolute;right: 0;margin-left: auto;height: 2em;bottom: 0;margin-bottom: 0.5em;width: 70%;margin-right: 0.5em;/* background-image: url('./img/play_circle_green.png'); */background-position: center right;background-size: auto 100%;background-repeat: no-repeat;z-index: 100;background-image: none;}
.placa .play:hover{background-image: url('../img/play_circle_green.png');}
.placa p{
    margin: 1em;
    height: 1em;
    width: max-content;
    margin-top: 0;
    font-size: 1em;
}
h2{margin: 0;margin-top: 0.7em;width: max-content;margin-left: 0.5em;}
.nada{
    height: max-content;
    width: max-content;
    display: block;
    margin: 1.3em;
    font-size: 1.1em;
    padding: 1em;
    background-color: #353434;
    border-radius: 1.2em;
    margin-left: 4em;
}

/*************************************/
#Menu{position: fixed;left: 0;top: 0;margin-right: auto;width: 20%;min-width: 200px;/* max-width: 300px; */height: 100%;z-index: 50;background-color: black;font-family: 'Lato', normal;padding-left: 1.5em;box-sizing: border-box;}
#Menu li,h1{width: 95%;height: 2em;line-height: 2em;cursor: pointer;display: flex;margin-left: 2%;margin-right: 2%;margin-top: 0.5em;margin-bottom: 0.5em;border-radius: 0.2em;color: #b3b3b3;}
#Menu li>div, h1>div{height: 2em;width: 2em;margin-right: 0.5em;}
#Menu li:hover{color: white;}
#Menu li:hover .icon{background-position: bottom;}
#Menu li.active{/* background-color: #282828; */font-weight: bold;color: white;}
.icon{ background-size: 100% auto;background-repeat: no-repeat;background-position: top;}
#Menu li.active .icon{background-position: bottom;}
.home{background-image: url('../img/home.png');}
.pdf{background-image: url('../img/pdf.png');}
.library{background-image: url('../img/library.png');}
.CM_logo{background-image: url('../img/logo_CM.png');}
span.cm_cel{display: none;}
h1{margin: 0;padding: 0;font-size: 1.5em;margin-top: 2em;/* z-index: 10000; */}


/*************************************/
#player{transition:all 0.3s ease;--device:pc;position: fixed;bottom: 0;height: max-content;max-height: 11em;min-height: 6em;width: 100%;z-index: 2000;background-color: #282828;display: flex;flex-direction: row;font-size: 1em;box-sizing: border-box;font-family: 'Roboto Slab', sans-serif;}
.arrow{display: none;z-index: 500;}
.gradiant{position: absolute;height: 80%;width: 100%;bottom: 0;background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(18, 18, 18) 30%);}
#player .gradiant{visibility: hidden;}
.gradiant.up{display: none;}
.label{width: 20%;height: max-content;margin-top: auto;margin-bottom: auto;margin-left: 1em;display: flex;flex-direction: row;min-width: max-content;max-width: 500px;z-index: 2001;}
.img_cd{width: 4em;height: 4em;background-position: center center;background-repeat: no-repeat;background-size: 100% auto;z-index: 2002;}
.title_song{margin-left: 0.5em;margin-top: auto;margin-right: 0.5em;}
.album_cd{margin-left: 0.6em;margin-bottom: auto;margin-right: 0.4em;font-size: 0.8em;}
.player_control{width: 50%;min-width: 500px;max-width: 720px;display: flex;flex-direction: column;}
.ctrl-btn{
    width: 1.8em;
    height: 1.8em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 3000;
    cursor: pointer;
}
.ctrl-btn:active{mix-blend-mode: soft-light;}
.play{background-image: url('../img/play_circle.png');height: 3em;width: 3em;}
.pause{background-image: url('../img/pause_circle.png');height: 3em;width: 3em;}
.sig{background-image: url('../img/sig.png');margin-left: 0.9em;margin-right: auto;}
.prev{background-image: url('../img/prev.png');margin-left: auto;margin-right: 0.8em;}
.track_control>span{height: max-content;margin-right: 0.3em;margin-left: 0.3em;margin-top: auto;margin-bottom: auto;}
.control{height: 70%;width: 100%;justify-content: center;}
.track_control{width: 100%;height: 30%;position: relative;flex-direction: row;font-size: 0.8em;}
.track{width: inherit;height: 0.3em;margin-top: auto;margin-bottom: auto;background-color: #969696;cursor: pointer;}
.track_play{position: absolute;background-color: lime;height: inherit;}
.point_song{position: absolute;height: 1em;width: 1em;background-color: lime;margin-top: -0.3em;border-radius: 50%;margin-left: 0;}
.volume_div{width: 20%;min-width: 10em;max-width: 20em;display: flex;flex-direction: row;height: max-content;margin-top: auto;margin-bottom: auto;margin-left: auto;margin-right: 2em;}
.volume{width: 2em;height: 2em;max-width: 30px;max-height: 30px;margin: auto;background-image: url('../img/volume.png');}
.track_volume{height: 0.3em;margin: auto;min-width: 8em;width: 80%;position: relative;font-size: 0.8em;}


.col{flex-direction: column;display: flex;}
.row{flex-direction: row;display: flex;}



/*************************************************************************************************************/
/* artist */


.back{
    position: absolute;
    width: 100%;
    height: 40%;
    background-position: center center;
    margin: 0;
    margin-top: -1em;
    padding: 0;
    opacity: 0.5;
    background-size: 100% auto;
    /*background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 72%),url('../img/random/random.png');*/
    /* background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 72%);
    background-image: url('../img/random/random.png');*/
    }
.head{
    top: 0;
    padding: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    box-sizing: border-box;
    background-color: transparent;
    transition: all 0.32s ease;
    position:  sticky;
    /* text-align: center; */
    z-index: 100;
}
.head-lbl{font-family: monospace;margin-top: 1.1em;margin-bottom: 0.8em;text-align: center;}
.head-top{
    background-color: #121212;
    border-bottom: 2px double #353535;
}
/*.sticky{
     position: sticky; 
}*/
.w10{width: 10%;}
.w25{width: 25%;}
.w65{width: 65%;}
.w50{width: 50%;}
.w75{width: 75%;}
.w90{width: 90%;}
.num_cd{width: 1.5em;
    text-align: center;
    display: inline-block;
    height: 1.5em;
    border-radius: 50%;
    color: black;
    background: linear-gradient(309deg, rgba(255,255,255,1) 0%, rgba(119,119,119,1) 47%, rgba(255,255,255,1) 100%);
    margin-left: 0.1em;
    margin-right: 0.5em;}
.sound_n{
    display: inline-block;
    background-image: url('../img/noise.png');
    background-size: auto 100%;
    background-position: center right;
    background-repeat: no-repeat;
    width: 2em;
    height: 1.5em;
    text-align: left;
}
.menu_point{position:relative;background-image: url('../img/menu_point.png');height: 0.9em;width: 0.9em;background-size: 100% auto;background-position: center center;background-repeat: no-repeat;margin:auto;}
/*.menu_point:after{content: 'Download';height: 1.5em;width: max-content;line-height: 1.5em;color:white;position: absolute;right: 0;}
.menu_poniter:after:after{content: '*';color:black;height: 1em;width: 1em;background-image: url('../img/download.png');}*/
.artist{/* text-align: center; */}
.artist.gradiant{/* height: 70%; *//* padding-left: 1em; */box-sizing: border-box;/* height: inherit; */}
.artist.gradiant > *:last-child{margin-bottom: 7em;}
.artist span{display: block;}
.artist span>span{display: inline-block;}
.artist ul{background: inherit;margin: 0;padding: 0;text-align: center;}
.artist ul li{border-radius: 0.5em;padding: 0.5em;margin: 0.1em;}
.artist ul li:hover{background-color: #353535;transition: all 0.2s ease;}
.artist h2{margin: 0.7em;margin-left: 5%;font-size: 2.2em;}
.btn{
    border-radius: 2em;
    border: none;
    height: max-content;
    width: max-content;
    box-sizing: border-box;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Fira Sans', sans-serif;
    margin: 0.6em;
    margin-left: 7%;
    /* margin-right: auto; */
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    /* left: 0; */
}
.green{background-color: lime;}
.w_b{background-color: black;border: 7px double white;}
.read{background-color: black;margin-left: auto;margin-right: auto;width: 40%;text-align: center;border: 7px double white;}

a.desplegable, a.desplegable:hover,a.desplegable:visited{
    text-decoration: none;
    color: inherit;
}
.desplegable{
    position: absolute;
    height: 1em;
    width: max-content;
    padding: 0.9em;
    padding-right: 1.5em;
    right: 40px;
    background-color: #424141;
    line-height: 1em;
    border-radius: 0.2em;
    transition: all 0.2s ease;
}
.desplegable.hidden{
    overflow: hidden;
    height: 0px;
    padding: 0;
    margin: 0;
}
.desplegable>span{
    background-image: url('../img/download.png');
    background-position: center center;
    height: 1em;
    width: 1em;
    margin: 0;
    margin-right: 0.5em;
    padding: 0;
    background-size: 100% auto;
    display: inline-block;
}

/****************************************************************************************************/
/* library */

#body.body_library{}
.lib_head{height: 4em;}
.lib_head .tab{
	height: 3em;
	line-height: 3em;
	padding-left: 1em;
	padding-right: 1em;
	/* margin-left: 1em; */
	color: #06d806;
	font-family: sans-serif;
	font-weight: bold;
	width: 4em;
	cursor: pointer;
}
.sub_head{font-size: 0.8em;}
.selector_tab{
	width: 5.5rem;
	margin-left: 0px;
	height: 0.2em;
	background-color: lime;
	transition: all 0.4s ease;
}
.lib_head.sub_head .tab{
    width: 10em;
}
.sub_head .selector_tab{width: 8rem;}
.library_sec ul{
    height: max-content;
    overflow: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 6.5em;
    background-color: #121212;
}
.library_sec ul li{border-radius: 0.5em;padding: 0.5em;margin: 0.1em;height: 2.5em;padding-left: 1em;}
.library_sec ul li:hover{background-color: #353535;transition: all 0.2s ease;}
/*.library_sec ul li:first-child{position: sticky;top: 0;}*/
.lib_bdy{
	position: relative;
	width: 100%;
	height: 100%;
}
.library_sec{
    position: absolute;
    background-color: #121212;
    width: inherit;
    height: inherit;
    text-align: center;
}
.library_sec .music{background-image: url('../img/music.png');background-size: auto 100%;}
.cover{background-image: url('../img/album.jpeg');background-size: auto 100%;width: 2.5em;}
.cover:after{
    content: ' ';
    display: block;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    margin: auto;
}
.cover.blue:after{ background-color: blue;}
.cover.red:after{ background-color: red;}
.cover.green:after{ background-color: green;}
.cover.violet:after{ background-color: violet;}
.cover.yellow:after{ background-color: yellow;}
/*.cover.grey:after{ background-color: transparent;}*/
#img_cd.cover{width: 4em;}
.library_sec .pdf{background-size: auto 200%;}



/*****************************************************************************/
/* PDF preview */
#body.body_pdf_view{padding-top:0;}
#body.body_pdf_view .head{
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 2em;
    background-color: #121212;
    top: 0;
    position: sticky;
    box-sizing: content-box;
    padding-bottom: 1em;
    border-bottom: 1px solid #4a4848;
}
#body.body_pdf_view .head .icon{
    margin: 1em;
    height: 1em;
    width: 1em;
}
#body.body_pdf_view .head .icon:first-child{margin-left: 1.5em;}
#body.body_pdf_view .head .icon:last-child{margin-right: 1.5em;}
.arrow_izq{background-image: url('../img/arrow_izq.png');cursor: pointer;}
#pdf_aqui{
    margin: 0;
    padding: 0;
    height: 100%;
    margin-bottom: 7em;
    width: 100%;
    transition: all 0.3s ease;
}
#pdf_aqui>iframe{
    width: 98%;
    height: calc(100% - 6em - 3em);
}