/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#player.up{height: 100%;max-height: 100%;margin-bottom: 0;padding-bottom: 4em;z-index: 10;flex-direction: column;}
.arrow.up{
    display: block;
    height: 1.5em;
    width: 1.5em;
    background-position: center center;
    background-size: 100% auto;
    margin-top: 2%;
    margin-left: 2%;
}
.down{background-image: url('../img/arrow_down.png');}
.gradiant.up{height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    margin-bottom: 5em;
}
.label.up{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    height: 60%;
    top: 0;
    margin-bottom: 3em;
    margin-top: 1%;
}
#img_cd.cover.up{width: inherit;}
.cover.up:after{
    position: absolute;
    content: ' ';
    display: block;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    margin: auto;
}
.img_cd.up{
    width: inherit;
    height: 40%;
    position: absolute;
}
.img_cd.cover.up{background-size: 100% 100%;}
.label.up>div:last-child{
	bottom: 0;
	margin-top: auto;
	font-size: 1.9em;
}
.player_control.up{
    position: relative;
    height: max-content;
}
.ctrl-btn.up{margin: auto;}
.play.up{
    margin: 0;
    background-image: url('../img/play_circle.png');
    height: 3.5em;
    width: 3.5em;
}
.pause.up{
    margin: 0;
    background-image: url('../img/pause_circle.png');
    height: 3.5em;
    width: 3.5em;
}
.sig.up{display: block;}
.prev.up{display: block;}
.track_control>span.up{display: block;}
.track_control>span.up:first-child{margin-right: auto;}
.track_control>span.up:last-child{margin-left: auto;}
.control.up{margin-right: auto;margin-left: auto;}
.track_control.up{
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}
.track.up{position: absolute;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
.arrow.up{margin-left: 5%;margin-top: 5%;}
.track_control>span.up:first-child{margin-right: auto;}
.track_control>span.up:last-child{margin-left: auto;}
.control.up{margin-top: 4em;}
.track.up{position: absolute;}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#player.up{padding-bottom: 5em;}
.label.up{
    width: 70%;
    max-width: 77%;
    min-width: 70%;
}
#img_cd.cover.up{width: inherit;}
.img_cd.up{max-width: inherit;width: inherit;}
.player_control.up{
    width: -2%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
.play.up, .pause.up{margin-left: 1.3em;margin-right: 1.3em;}
}
