html,body{
	background-color: #404040;
	background-image: none;
}
header{
	border-color: #808080;
}
p.h{
	background-color: grey;
}

.song{
	    background-color: #b7b7b7;
}
.page{
background-color: white;
}
.btns{
	
background-color: white;
}
#play{
	border-color: #808080;
}