<div class="close" onclick="this.parentNode.style.display='none'">[close]</div>
<h3>Lesson 2A</h3>
<div>
	{{#each dialogs}}
	<p><span class="num_cd">{{num}}</span><span class="sound_n">{{souund_n}}</span><br>{{txt}}</p>
	{{/each}}
</div>