<h2>About this site</h2>
<p>Recopilación no oficial de audios y material para el tercer año de inglés del Instituto Cambridge&reg;. <br>Dichos archivos estan bajo derechos de copyright, se pide encarecidamente no difundirlos innecesariamente.</p>
<h3>Library</h3>
<p>Encuentra los recursos de los distintos libros a mano y ordenados.</p>
<img src="https://imgur.com/VMqzIH8.png" alt="library_home">
<img src="https://imgur.com/lCofnEV.png" alt="library">
<h3>Numero de audio</h3>
<p>Los libros de English File ordenan sus audios segun 'cd' y 'pista'. <br>Puedes encontrar estos numeros al lado de cada ejercicio donde se requiera una pista de audio, y el mismo numero en los audios de la pagina.</p>
<img src="https://imgur.com/D7hljX0.png" alt="number_book">
<img src="https://imgur.com/ZkgWykZ.png" alt="number_web">
<h3>Descargables</h3>
<p>Todo el material es descargable. Si desea tener los libros completos revise la sección 'Downloadable Books' en el Home.</p>
<img src="https://imgur.com/KfbZfy2.png" alt="Downloadable_Books">