<div class="head">
			<span class="icon arrow_izq"></span>
			<span class="icon menu_point"></span><a href="{{download}}" target="_blank" class="desplegable hidden"><span></span>Download</a>
		</div>
		<div id="pdf_aqui"><iframe src="{{link}}" onload="LOADER.style.display='none'"></iframe></div>