/* Large desktop */
@media (min-width: 1200px) { 
#Menu{max-width: 300px;}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


html, body{}
ul{}

/*****************************************/
#body{
    width: 70%;
}
#body .sec{
    margin-left: 7%;
}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}




}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

html, body{}
ul{
    flex-direction: row;
    display: flex;
    width: 75%;
    justify-content: space-around;
    /* margin-top: 0.9em; */
}

/*****************************************/
#body{
    width: 100%;
    margin: 0;
    max-width: 100%;
}
#body .sec{
    margin-left: 1em;
}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: row-reverse;
    height: 5em;
    padding: 0;
}
#Menu li,h1{
    /* display: flex; */
    flex-direction: column;
    width: min-content;
    height: max-content;
}
#Menu li>div, h1>div{
    margin-left: auto;
    margin-right: auto;
}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{
    /* width: 2em; */
    /* height: 2em; */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{
    margin-left: auto;
    /* margin-bottom: auto; */
    margin-right: auto;
}
span.cm_pc{display: none;}
span.cm_cel{display: block;text-align: center;}
h1{
    font-size: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 0.8em;
}

/*************************************/
#player{
    margin-bottom: 5em;
}
#player.up{
    /* height: 100%; */
    /* max-height: 90%; */
    /* flex-direction: column; */
}
.gradiant{
    /* display: none; */
}
.gradiant.up{}
.label{
    /* margin: 0.4em; */
}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{
    position: absolute;
    width: 100%;
    max-width: 100%;
}
.ctrl-btn{}
.ctrl-btn:active{}
.play{
    margin-right: 1em;
    background-image: url('./img/play.png');
    height: 2.5em;
    width: 2.5em;
}
.pause{}
.sig{
    display: none;
}
.prev{
    display: none;
}
.track_control>span{
    display: none;
}
.control{
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* height: max-content; */
    /* bottom: 0; */
    /* position: absolute; */
    margin-top: 1.7em;
    width: min-content;
    right: 0;
    margin-left: auto;
}
.track_control{
    position: absolute;
    width: 100%;
}
.track{
    margin: 0;
    width: 100%;
}
.track_play{}
.point_song{
    display: none;
}
.volume_div{
    display: none;
}
.volume{}
.track_volume{}


/*****************************************************************/


/*************************************************************/



.col{}
.row{}



}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


html, body{}
ul{}

/*****************************************/
#body{}
#body .sec{}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {


html, body{}
ul{}

/*****************************************/
#body{}
#body .sec{}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}


}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {


html, body{}
ul{}

/*****************************************/
#body{}
#body .sec{}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {


html, body{}
ul{}

/*****************************************/
#body{
    width: 77%;
}
#body .sec{}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}


}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {


html, body{}
ul{}

/*****************************************/
#body{}
#body .sec{}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}


}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {


html, body{}
ul{}

/*****************************************/
#body{}
#body .sec{}
#body .sec>div{}
.placa{}
.placa img{}
.placa .play{}
.placa .play:hover{}
.placa p{}

/*************************************/
#Menu{}
#Menu li,h1{}
#Menu li>div, h1>div{}
#Menu li:hover{}
#Menu li:hover .icon{}
#Menu li.active{}
.icon{}
#Menu li.active .icon{}
.home{}
.pdf{}
.library{}
.CM_logo{}
h1{}

/*************************************/
#player{}
#player.up{}
.gradiant{}
.gradiant.up{}
.label{}
.img_cd{}
.title_song{}
.album_cd{}
.player_control{}
.ctrl-btn{}
.ctrl-btn:active{}
.play{}
.pause{}
.sig{}
.prev{}
.track_control>span{}
.control{}
.track_control{}
.track{}
.track_play{}
.point_song{}
.volume_div{}
.volume{}
.track_volume{}


.col{}
.row{}


}