/* Large desktop */
@media (min-width: 1200px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}



}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Landscape phones and down */
@media (max-width: 480px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}



}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

#player.up{--device:pc;}
.gradiant.up{}
.label.up{}
.img_cd.up{}
.title_song.up{}
.album_cd.up{}
.player_control.up{}
.ctrl-btn.up{}
.ctrl-btn:active.up{}
.play.up{}
.pause.up{}
.sig.up{}
.prev.up{}
.track_control>span.up{}
.control.up{}
.track_control.up{}
.track.up{}
.track_play.up{}
.point_song.up{}
.volume_div.up{}
.volume.up{}
.track_volume.up{}


}